.text-purple {
  color: #6f42c1 !important;
}
.btn-purple {
  background-color: #6f42c1;
  color: white;
  border: none;
}
.btn-purple:hover {
  background-color: #59359c;
}
.border-purple {
  border: 1px solid #6f42c1 !important;
}
.bg-purple {
  background-color: #6f42c1 !important;
}
